<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>09-Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description>登录验证</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.hanquan.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>用户操作</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.hanquan.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>验证用户名是否重复</description>
    <display-name>CheckUnique</display-name>
    <servlet-name>CheckUnique</servlet-name>
    <servlet-class>cn.hanquan.servlet.CheckUnique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUnique</servlet-name>
    <url-pattern>/CheckUnique</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>地区三级联动</description>
    <display-name>LocateServlet</display-name>
    <servlet-name>LocateServlet</servlet-name>
    <servlet-class>cn.hanquan.servlet.LocateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocateServlet</servlet-name>
    <url-pattern>/LocateServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>cn.hanquan.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>